<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= card.title %></h2>
      <p class="card-text"><%= card.description %></p>
      <%= link_to "お手続き", page_path(card), class: "btn btn-secondary" %>
    </div>
  </div>
</div>
