form
  .form-group
    label[for="id"] ID
    input#id.form-control[type="text"]
  .form-group
    label[for="password"] パスワード
    input#password.form-control[type="password"]
  button.btn.btn-primary ログイン
