form
  .form-group
    label[for="name"] お名前
    input#name.form-control[type="text"]
  .form-group
    label[for="credit"] クレジットカード番号
    input#credit.form-control[type="text"]
  .form-group
    label[for="id"] ユーザーID
    input#id.form-control[type="text"]
  .form-group
    label[for="password"] パスワード
    input#password.form-control[type="password"]
  .form-group
    label[for="confirm"] パスワード（確認）
    input#confirm.form-control[type="password"]
  button.btn.btn-primary サインイン
