.jumbotron
  h1 残高一覧

- @deposit = @accounts.joins(:product).where("not products.is_debit")
h2 預入
= render partial: "table", locals: { accounts: @deposit }

- @debit = @accounts.joins(:product).where("products.is_debit")
h2 借入
= render partial: "table", locals: { accounts: @debit }
